.container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.header{

}

.inputsContainer{
    display:flex;
    justify-content: center;
}

.inputs{
    margin:2px;
    width:300px
}

.buttonsContainer{
    display:flex;
    justify-content: center;
    margin:10px;
}

.buttons{
    margin:5px;
    width:150px
}

.meme{
   width:400;
   position:relative;
}



.meme--image{
    
    z-index:-1;
    width:100%;
    border-radius:5px;
    align-self: center;
    
}

.meme--text{
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}